.container_menu-hamburguer {
  display: none;
}
@media (max-width: 1100px) {
  .container_menu-hamburguer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 1001;
    width: 50%;
    max-height: 100vh;
    top: 90px;
    right: 0;
    left: auto;
    padding-left: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px 0 0 20px;
  }
  .container_menu-hamburguer .container {
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    align-items: center;
  }
  .container_menu-hamburguer .list_menu-header {
    flex-direction: column;
    font-weight: 700;
  }
  .container_menu-hamburguer .list_item-header::after {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-gold);
  }
  .container_menu-hamburguer .container .button_item {
    border: 1px solid var(--color-gold);
    margin-top: 40px;
  }
  .hamburguer_icon {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  .hamburguer_icon span:not(:last-child) {
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--color-primary-text);
    border: none;
    margin: 10px;
    border: 2px solid var(--color-primary-text);
    text-align: center;
  }
  .hamburguer_icon span:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
  }
  .hamburguer_icon #cancel {
    display: none;
    font-size: 4rem;
    color: var(--color-primary-text);
  }
}
