.popup_reserve {
  position: fixed;
  background-color: var(--color-white);
  width: 700px;
  max-width: 90%;
  height: 90%;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 1002;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  border-radius: 20px;
}
#close-reservation {
  position: fixed;
  right: 0;
  top: 0;
  margin: 20px;
  font-size: 2rem;
  color: var(--color-secondary-red);
  z-index: 1002;
  cursor: pointer;
}
.popup_container {
  height: 95%;
  width: 95%;
}
.popup_container img {
  margin-top: 50px;
}
form {
  margin: 20px 0;
  width: 80%;
  margin: 0 auto;
}

form label {
  font-size: 2rem;
  margin-bottom: 5px;
  text-align: start;
  color: var(--color-secondary-red);
}

.name,
.check-container,
.accommodation {
  display: flex;
  flex-direction: column;
}

.input_group,
.check,
.number-people {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.dine,
.check-container,
.number-people > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 150px;
}
.name,
.check-container,
.accommodation {
  margin: 20px 0;
}
input,
select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  color: gray;
  border: 2px solid var(--color-secondary-red);
}

.number-people input {
  border: none;
  background-color: transparent;
  text-align: center;
  width: 40px;
  margin: 0 10px;
}
.number-people .border {
  border: 2px solid var(--color-secondary-red);
  border-radius: 10px;
}
.number-people .border button {
  font-size: 3rem;
  background-color: transparent;
  border: none;
  color: gray;
}

/* REMOÇÃO DE SPINNERS DO INPUT NUMBER*/

/* Para Chrome, Safari, Edge e Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.reservation_restaurant {
  margin: 25px 0 10px;
  padding: 10px;
  border: 1px solid var(--color-secondary-red);
  border-radius: 10px;
}
.reservation_restaurant legend {
  font-size: 2rem;
  margin: 5px 0;
  color: var(--color-secondary-red);
}

.form_container .button_call-action {
  margin: 40px 0;
}
.form_container {
  padding: 10px 0;
}
